In [1]:
import pandas as pd

In [2]:
contas = pd.read_csv("contas.csv")
print(contas)

     num_conta  cod_cliente  cod_agencia  cod_colaborador tipo_conta  \
0           53           53            1                7         PF
1          190          190            1                7         PF
2          191          191            1                7         PF
3          203          203            1                7         PF
4          254          254            1                7         PF
..         ...          ...          ...              ...        ...
994        466          466           10                8         PF
995        764          764           10                8         PF
996        488          488           10               18         PF
997        395          395           10               95         PF
998        355          355           10              100         PF

               data_abertura  saldo_total  saldo_disponivel  \
0    2011-05-24 15:30:00 UTC    2984.7615           2814.67
1    2014-10-17 14:48:00 UTC    4262.4322           4191.86
2    2013-03-23 14:14:00 UTC    3266.5680           3080.71
3    2016-08-03 16:13:00 UTC   21241.5424          19461.56
4    2012-10-24 13:48:00 UTC   13335.6966          13197.54
..                       ...          ...               ...
994  2022-10-26 14:13:00 UTC    7847.4165           9351.63
995  2022-09-08 11:06:00 UTC   65495.1872          64823.14
996  2022-07-16 10:16:00 UTC    8663.6081           6836.57
997  2022-12-01 15:27:00 UTC   23156.2065          21578.33
998  2022-10-22 14:50:00 UTC   10680.1524          10336.34

             data_ultimo_lancamento
0           2019-07-02 11:03:46 UTC
1           2021-03-25 12:00:15 UTC
2           2016-09-09 23:34:15 UTC
3           2022-12-28 07:58:24 UTC
4           2013-12-20 22:20:00 UTC
..                              ...
994  2022-12-30 00:00:00.319185 UTC
995  2022-12-29 23:59:59.964121 UTC
996  2022-12-30 00:00:00.966349 UTC
997  2022-12-30 00:00:00.607818 UTC
998  2022-12-29 23:59:59.739032 UTC

[999 rows x 9 columns]

In [3]:
contas["tipo_agencia"] = contas["cod_agencia"]
contas

,num_conta,cod_cliente,cod_agencia,cod_colaborador,tipo_conta,data_abertura,saldo_total,saldo_disponivel,data_ultimo_lancamento,tipo_agencia
0,53,53,1,7,PF,2011-05-24 15:30:00 UTC,2984.7615,2814.67,2019-07-02 11:03:46 UTC,1
1,190,190,1,7,PF,2014-10-17 14:48:00 UTC,4262.4322,4191.86,2021-03-25 12:00:15 UTC,1
2,191,191,1,7,PF,2013-03-23 14:14:00 UTC,3266.5680,3080.71,2016-09-09 23:34:15 UTC,1
3,203,203,1,7,PF,2016-08-03 16:13:00 UTC,21241.5424,19461.56,2022-12-28 07:58:24 UTC,1
4,254,254,1,7,PF,2012-10-24 13:48:00 UTC,13335.6966,13197.54,2013-12-20 22:20:00 UTC,1
...,...,...,...,...,...,...,...,...,...,...
994,466,466,10,8,PF,2022-10-26 14:13:00 UTC,7847.4165,9351.63,2022-12-30 00:00:00.319185 UTC,10
995,764,764,10,8,PF,2022-09-08 11:06:00 UTC,65495.1872,64823.14,2022-12-29 23:59:59.964121 UTC,10
996,488,488,10,18,PF,2022-07-16 10:16:00 UTC,8663.6081,6836.57,2022-12-30 00:00:00.966349 UTC,10
997,395,395,10,95,PF,2022-12-01 15:27:00 UTC,23156.2065,21578.33,2022-12-30 00:00:00.607818 UTC,10
998,355,355,10,100,PF,2022-10-22 14:50:00 UTC,10680.1524,10336.34,2022-12-29 23:59:59.739032 UTC,10

In [4]:
i = 1

for i in contas["tipo_agencia"]:
    
    contas["tipo_agencia"] = contas["tipo_agencia"].replace(i, "Agencia Fisica")

contas["tipo_agencia"][6] = "Agencia Digital"

contas["tipo_agencia"]

C:\Users\vini7\AppData\Local\Temp\ipykernel_15432\3413683453.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  contas["tipo_agencia"][6] = "Agencia Digital"

0      Agencia Fisica
1      Agencia Fisica
2      Agencia Fisica
3      Agencia Fisica
4      Agencia Fisica
            ...
994    Agencia Fisica
995    Agencia Fisica
996    Agencia Fisica
997    Agencia Fisica
998    Agencia Fisica
Name: tipo_agencia, Length: 999, dtype: object

In [5]:
contas.to_csv("contas1.0.csv")